body
{
  text-align: center;
  background-color: blue;
}

h1
{
  font-family: "Comic Sans MS";
  background-color: pink;
  width: 100%;
  height: auto;
}

p
{
  width: 100%;
  height: auto;
  font-family: "Comic Sans MS";
  background-color: yellow;
}

img {
    width: 30%;
    height: auto;
}
