body
{
  text-align: center;
  background-color: blue;
}

h1
{
  font-size: 50px;
  font-family: "Comic Sans MS";
  background-color: pink;
}

p
{
  font-size: 30px;
  font-family: "Comic Sans MS";
  background-color: yellow;
}

img {
    width: 30%;
    height: auto;
}
